body{
  background-image: url('https://uploads.onecompiler.io/43t6xsukx/43t6zcc8f/Screenshot_2025-08-09-10-22-16-123_com.gallery.player.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img{
  width: 17px;
  height: 17px;
  padding: 0 0 0 5px;
}
.Login{
  background-color: blue;
  color: black;
  font-weight: bold;
  font-size: 50px;
  border-radius: 20px;
  margin: 900px 0 0 150px;
  width: 300px;
  height: 50px;
}
.Signup{
  background-color: blue;
  color: black;
  font-size: 50px;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 0 0 250px;
  width: 300px;
  height: 50px;
}
.Google{
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 30px;
  margin: 30px 0 0 0;
  width: 430px;
  height: 30px;
  font-weight: Bold;
  text-align: left;
}
.Guest {
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  width: 430px;
  height: 30px;
  font-weight: Bold;
  text-align: left;
}
