body{
  background-image: url('https://uploads.onecompiler.io/43t6xsukx/43t6zcc8f/Screenshot_2025-08-09-10-22-16-123_com.gallery.player.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.Google img{
  width: 17px;
  height: 17px;
  padding: 5px 0 0px 0;
}
.Guest img{
  width: 17px;
  height: 17px;
  padding: 5px 0 0px 0;
}
.Login{
  position: fixed;
  background-color: blue;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  button: 100px;
  padding: 0 40px 0 40px;
}
.Signup{
  position: fixed;
  background-color: blue;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  margin: 0 0 0 30px;
  padding: 0 30px 0 30px;
}
.Google{
  position: fixed;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  margin: 50px 0 0 0;
  padding: 0 200px 0 10px;
  font-weight: Bold;
}
.Guest {
  position: fixed;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  padding: 0 210px 0 10px;
  font-weight: Bold;
}
